  <div class='container'>
    <div class='row'>
      <!-- Display Force Chart for Game -->
      <script>
      var w = window.innerWidth,
          h = window.innerHeight,
          root;

      // var force = d3.layout.force()
      //     .size([w, h]);

      var svg = d3.select("body").append("svg")
          .attr("width", w)
          .attr("height", h);

      var link = svg.selectAll(".link"),
          node = svg.selectAll(".node");

      queue()
      .defer(d3.json, "../games.json")
      .defer(d3.json, "../bonds.json")
      .await(update);

      function update(error, games, bonds, table) {
        var nodes = games,
            links = bonds;

        // Replace references of IDs
        var newLinks = [];

        links.forEach(function(e) {
          var sourceNode = nodes.filter(function(n) { return n.id === e.source; })[0],
              targetNode = nodes.filter(function(n) { return n.id === e.target; })[0];

          newLinks.push({source: sourceNode, target: targetNode});
        });

        links = newLinks;

        // Draw Game Name
        var texts = svg.selectAll("text")
          .data(nodes)
          .enter()
          .append("text")
          .attr("fill", "white")
          .attr("font-family", "sans-serif")
          .attr("font-size", "10px")
          .attr('class', 'txts')
          .text(function(d) { return d.name; });

        // Set Dynamic Force
        var force = d3.layout.force()
          .nodes(nodes)
          .links(links)
          .size([w,h])
          .linkDistance([50])
          .charge([-2500])
          .gravity(0.3)
          .start();

        // Draw Lines for Bonds
        var edges = svg.selectAll("line")
          .data(links)
          .enter()
          .append("line")
          .style("stroke", "#fff")
          .style("stroke-width", 3);


        // Draw Nodes
        var node = svg.selectAll(".node")
          .data(nodes)
          .enter()
          .append("g")
          .attr('class', 'node')
          .call(force.drag);

        // Append Images to Nodes
        node.append('image')
          .attr("xlink:href", function(d){ return d.thumb_url; })
          .attr('ondblclick', function(d){ return "openLink('/games/" + d.id + "')"; })
          .attr("x", 0)
          .attr("y", 5)
          .attr("width", 50)
          .attr("height", 50);

        // Turn on Force
        force.on("tick", function() {
          edges
            .attr("x1", function(d) { return d.source.x + 20; })
            .attr("y1", function(d) { return d.source.y + 20; })
            .attr("x2", function(d) { return d.target.x + 20; })
            .attr("y2", function(d) { return d.target.y + 20; });
          node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
          texts.attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
          });
        });
      }
      </script>

    </div>

  </div><!-- Close Container -->

