<div class='container'>

  <div class='row game-name'>
    <dl>
      <dt>
        <h2>bond</h2>
      </dt>
      <h5>
      <dd>
        /bänd/
      </dd>
      <dd>
      <dl>
        <dt>noun</dt>
          <dd>plural noun: bonds; noun: chemical bond; plural noun: chemical bonds</dd>
      </dl>
      </dd>
      <ul>
        <li>adhesiveness; ability of two objects to stick to each other</li>
        <li>a force or feeling that unites people; a common emotion or interest</li>
      </ul>
      </h5>
    </dl>
  </div>

  <div class='row'>
    <p class='panel ng-animate ng-enter'>
      Gamebonder is a web application that enables you to share your perspective on games by bonding two games together with a unique reason or description that you provide.
    </p>
    <p class='panel ng-animate ng-enter'>
      As the content grows on the site, we will all be able to have a better view of how games are connected. The purpose of this is to provide a unique perspective to gamers to help them on their search for more games that appeal to their interests.
    </p>
    <p class='panel ng-animate ng-enter'>
      This is a work in progress so please come back often to see the updates!
    </p>
  </div>

</div>
