<div class='container'>

  <div class='row'>
    <h3>
    Have you ever been playing a game and thought... 'Man this game is so
    much like another game that I've played'?
    </h3>
  </div>

  <div class='row'>
    <p class='panel'>
      Gamebonder is a simple web application that allows you to bond two games
      together and provide a description as to why you believe they are alike.
      Simple! We keep track of the bonds that you have created and allow you
      some unique views of how games are related.
    </p>
  </div>

  <div class='row'>
    <p class='panel'>
      This is a work in progress so please come back often to see the updates!
    </p>
  </div>

</div>
