<div class='container'>
  <div class='row'>
    <h1></h1>

    <% @games.sort { |a,b| a.name.downcase <=> b.name.downcase }.each do |game| %>
      <div class='row'>
        <div class='col-md-2'>
          <img src='<%= game.icon_url %>'>
        </div>
        <div class='col-md-10'>
          <%= link_to game.name, game, class: 'game-name' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
