body {
  background-color: black;
  color: silver;
  overflow: hidden;
}

.link {
  stroke: #fff;
  stroke-width: 1.2px;
}

.node {
  cursor: move;
  stroke: #fff;
  stroke-width: 1px;
}

.node.fixed {
  fill: #f00;
}
