<h1>New bond</h1>

  <div class='container'>
  <div x-ng-controller="GamesController">
    <div class='row'>

      <!-- Source -->
      <div class="col-md-5">
        <h3>Game to Bond</h3>
        <input type='text' ng-model='sourceSearch'>
        <button ng-click='searchList(sourceSearch, "source")'>Search Sources</button>

        <!-- Show source search results -->
        <div ng-hide="sourceSelected" id='source-search'>
          Results:
          <div id='sourceResults'>
            <div ng-repeat="source in sourceList | startFrom: sourcePage * pageSize | limitTo: 5">
              <img src="{{source.image.icon_url}}" height='80' width='80'><a href ng-click='selectSource(source)'>{{source.name}} - {{source.id}}</a>
            </div>
          </div>
          <div class='pull-right btn-group' id='source-search-buttons' ng-show='sourcePageCount'>
            <button ng-disabled='sourcePage == 0' ng-click='sourcePage = sourcePage - 1'>Previous</button>
            {{sourcePage + 1}}/{{sourcePageCount + 1}}
            <button ng-disabled='sourcePage == sourcePageCount' ng-click='sourcePage = sourcePage + 1'>Next</button>
          </div>
        </div>

        <!-- Show source when selected -->
        <div ng-show='sourceSelected'>
          <div>
            Selected Source:
            <img src="{{source.image.icon_url}}">
            <p><a href="{{source.site_detail_url}}" target='_blank'>{{source.name}}</a> - {{source.id}}</p>
            <button ng-click="cancelSource()">Cancel Source</button>
          </div>
        </div>
      </div>

      <!-- Target -->
      <div class="col-md-5">
        <h3>Game to Associate</h3>
        <input type='text' ng-model='targetSearch'>
        <button ng-click='searchList(targetSearch, "target")'>Search Targets</button>

        <!-- Show target search results -->
        <div ng-hide="targetSelected" id='target-search'>
          Results:
          <div id='targetResults'>
            <div ng-repeat="target in targetList | startFrom: targetPage * pageSize | limitTo: 5">
              <img src='{{target.image.icon_url}}' height='80' width='80'><a href ng-click='selectTarget(target)'>{{target.name}} - {{target.id}}</a>
            </div>
          </div>
          <div class='pull-right btn-group' id='target-search-buttons' ng-show='targetPageCount'>
            <button ng-disabled='targetPage == 0' ng-click='targetPage = targetPage - 1'>Previous</button>
            {{targetPage + 1}}/{{targetPageCount + 1}}
            <button ng-disabled='targetPage == targetPageCount' ng-click='targetPage = targetPage + 1'>Next</button>
          </div>
        </div>

        <!-- Show target when selected -->
        <div ng-show='targetSelected'>
          <div>
            Selected Target:
            <img src='{{target.image.icon_url}}'>
            <p><a href='{{target.site_detail_url}}' target='_blank'>{{target.name}}</a> - {{target.id}}</p>
            <button ng-click="cancelTarget()">Cancel Target</button>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-8' ng-show='sourceSelected && targetSelected'>
        <div class='input-group input-group-sm'>
          Bond Description:
          <input type='text' ng-model='bondDescription'>
        </div>
        <button ng-click='newBond(source, target, bondDescription)'>Submit</button>
      </div>
    </div><!-- Close Row -->
    </div>
  </div><!-- Close Controller -->
  </div><!-- Close Container -->


<%= link_to 'Back', bonds_path %>
