/*#source-search-buttons {
  position: absolute;
}

#target-search-buttons {
  position: absolute;
}*/

#source-target-search {
  height: 600px;
}

#sourceResults {
  height: 450px;
}

#targetResults {
  height: 450px;
}

body {
  background-color: black;
  color: silver;
}

input {
  color: black;
}

link {
  color: white;
}
